.border-radius(@radius) {
	background-clip: padding-box;
	-webkit-border-radius: @radius;
	border-radius: @radius;
	overflow: hidden;
}

.content-styling( @font-size: 14px ){
	font-size: @font-size;
	line-height: 1.6;

	a{
		&:hover{
			text-decoration: underline;
		}
	}

	p{
		margin-top: 0;
	}

	li{
		margin-bottom: 5px;
	}

	img{
		max-width: 100%;
	}
}